body {
	margin: 0;
	background: black;
}
* {
	box-sizing: border-box;
	color: #eee;
	font-family: cursive;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
div#loader_body {
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgb(14,14,14);
	padding: 50px;
	display: none;
}
div#load {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
div.stick1 {
	width: 100%;
	height: 1px;
	position: absolute;
	background: #eee;
	left: 0;
	top: 0;
	transform: translateX(-100%);
	animation: stick1 .5s linear forwards;
}
div.stick2 {
	width: 1px;
	height: 100%;
	position: absolute;
	background: #eee;
	right: 0;
	top: 0;
	transform: translateY(-100%);
	animation: stick2 .5s linear forwards;
	animation-delay: .5s;
}
div.stick3 {
	width: 100%;
	height: 1px;
	position: absolute;
	background: #eee;
	left: 0;
	bottom: 0;
	transform: translateX(100%);
	animation: stick1 .5s linear forwards;
	animation-delay: 1s;
}
div.stick4 {
	width: 1px;
	height: 100%;
	position: absolute;
	background: #eee;
	left: 0;
	top: 0;
	transform: translateY(100%);
	animation: stick2 .5s linear forwards;
	animation-delay: 1.5s;
}
@keyframes stick1 {
	100% { transform: translateX(0); }
}
@keyframes stick2 {
	100% { transform: translateY(0); }
}
@keyframes name {
	50% { transform: translateY(-50%) scale(1.1); }
	100% { transform: translateY(-50%) scale(1); }
}
div.name {
	font-size: 60px;
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	animation: name 1s linear infinite;
}
div.name span {
	color: #841c1c;
	font-weight: 400;
}
div#main_body {
	width: 100%;
}
div#about {
	width: 100%;
	height: 100vh;
	top: 0;
	position: relative;
	background: url(../img/background2.jpg) no-repeat;
	background-size: cover;
	background-position: bottom;
}
header {
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
}
header:after {
	content: '';
	display: table;
	clear: both;
}
div#logo {
	font-size: 32px;
	font-weight: bold;
	float: left;
}
nav {
	float: right;
	padding: 10px;
}
nav a {
	text-decoration: none;
	font-size: 20px;
	font-weight: 400;	
	margin: 0 20px;
	transition: .4s;
}
nav a:hover {
	color: #841c1c;
}
section#about_s {
	max-width: 1200px;
	margin: auto;
	padding: 0 20px;
}
div#m_name {
	width: 50%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
h1 {
	margin: 0;
	font-size: 80px;
}
h2 {
	margin: 0;
	font-size: 30px;
	text-indent: 100px;
	position: relative;
}
h2:after {
	content: '';
	display: inline-block;
	width: 90px;
	height: 2px;
	background: #841c1c;
	position: absolute;
	left: 0;
	top: 20px;
}
div#about_p {
	width: 35%;
	position: absolute;
	left: 50%;
	padding: 50px;
	top: 50%;
}
div#skills {
	width: 100%;
}
div#skill_box {
	max-width: 1200px;
	margin: auto;
	padding: 100px 0;
}
div#skill_box:after {
	content: '';
	display: table;
	clear: both;
}
div#skill_box p {
	font-size: 30px;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: #841c1c;
}
div.s_box {
	width: 31%;
	float: left;
	margin: 3% 1%; 
	text-align: center;
	font-size: 24px;
	background: #0e0d0d;
	border-bottom: 3px solid #841c1c;
	padding: 100px 0;
}
div#projects {
	width: 100%;
}
div#pr_box {
	max-width: 1200px;
	margin: auto;
	padding-top: 100px;
	padding-bottom: 100px;
}
div#pr_box:after {
	content: '';
	display: table;
	clear: both;
}
div#pr_box p {
	font-size: 30px;
	text-align: center;
	text-decoration: underline;
	text-decoration-color: #841c1c;
}
div.p_box {
	width: 40%;
	margin: 2% 5%;
	height: 300px;
	float: left;
	background: #841c1c;
	position: relative;
}
div.p_box a {
	width: 100%;
	height: 100%;
	position: absolute;
	background: rgba(132,28,28,0.3);
	transition: .4s;
}
div.p_box a:hover {
	background: none;
}
footer {
	max-width: 450px;
	margin: auto;
	padding: 20px 0;
}
footer:after {
	content: '';
	display: table;
	clear: both;
}
footer a {
	width: 33.3%;
	float: left;
	text-align: center;
	text-decoration: none;
	padding: 20px 0;
	font-weight: 400;
}
footer a:hover {
	color: #841c1c;
}